<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!--servlet>
	<servlet-name>New Seeker Info Enqueue</servlet-name>
	<servlet-class>cs263w16.NewSeekerInfoEnqueue</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>New Seeker Info Enqueue</servlet-name>
	<url-pattern>/enqueue/newseekerinfo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>New Position Info Enqueue</servlet-name>
	<servlet-class>cs263w16.NewPosInfoEnqueue</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>New Position Info Enqueue</servlet-name>
	<url-pattern>/enqueue/newposinfo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>New Seeker Info Worker</servlet-name>
	<servlet-class>cs263w16.NewSeekerInfoWorker</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>New Seeker Info Worker</servlet-name>
	<url-pattern>/newseekerinfoworker</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>New Position Info Worker</servlet-name>
	<servlet-class>cs263w16.NewPosInfoWorker</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>New Position Info Worker</servlet-name>
	<url-pattern>/newposinfoworker</url-pattern>
</servlet-mapping-->

    <servlet>
      <servlet-name>Blobstore New Photo</servlet-name>
      <servlet-class>cs263w16.BlobstoreNewPhoto</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>Blobstore New Photo</servlet-name>
      <url-pattern>/blobstorenewphoto</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>Jersey REST Service</servlet-name>
    	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> 
    	<!-- Register resources and providers under com.vogella.jersey.first package. -->
    	<init-param>
    		<param-name>jersey.config.server.provider.packages</param-name>
    		<param-value>cs263w16</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Jersey REST Service</servlet-name>
    	<url-pattern>/rest/*</url-pattern>
    </servlet-mapping>


<welcome-file-list>
	<welcome-file>home.jsp</welcome-file>
</welcome-file-list>

</web-app>
